{% extends "base.html" %}

{% block content %}
	
<div class="row">
	<div class="col-md-4 mt-5">
		{% if request.user.is_authenticated and not request.GET.q %}
			<h3 class="p-4 bg-info text-white border-red border border-info">{{ request.user }}</h3>
			<!-- include template with create form -->
			{% include "tweets/tweet_form.html" with form=create_form btn_value="Tweet" form_id="create-id" %}
		{% else %}
			<a class="btn btn-info" href="/admin">Login</a>
		{% endif %}
	</div>

	<div class="col-md-8" id="tweet-container">

	</div>

	{% comment %}
	<div class="col-md-8">
		{% for obj in object_list %}

			{% if object_list.count < 2 %}
			<div style="height: 60vh">
			{% endif %}

			<!--Panel-->
			<div class="card border-dark w-75 mt-4">
			    <div class="card-body">
			        <p class="card-text">{{ obj.content }}</p>
			        <p class="card-text">{{ obj.timestamp|timesince }}</p>
			        <a href="{{ obj.get_absolute_url }}" class="btn btn-default">View</a>
			    </div>
			</div>
			<!--/.Panel-->

			{% if object_list.count < 2 %}
			</div>
			{% endif %}

		{% empty %}

		<div style="height: 60vh">
			{% if request.GET.q %}
				<h2 class="mt-5 text-left">No tweets found.</h2>
			{% else %}
				<h2 class="mt-5 text-left">No tweets yet.</h2>
			{% endif %}
		</div>

		{% endfor %}
	</div>
	{% endcomment %}

</div>

{% endblock %}

{% block script %}

<script type="text/javascript">
	function getParameterByName( name ){
		name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
		var regexS = "[\\?&]"+name+"=([^&#]*)";
		var regex = new RegExp( regexS );
		var results = regex.exec( window.location.href );
		if( results == null )
			return "";
		else
			return decodeURIComponent(results[1].replace(/\+/g, " "));
	}

	var tweetList = [];

	function parseTweets() {
		var tweetContainer = $("#tweet-container");


		if (tweetList == 0) {
			tweetContainer.html("<h2 style=\"height: 55vh\" class=\"mt-5 text-left\">No tweets found.</h2>");
		}

		else {
			$.each(tweetList, (key, value) => {
				var tweetKey = key;
				var tweetUser = value.user.username;
				var tweetContent = value.content;

				$("#tweet-container").append(

					"<div class='card border-dark w-75 mt-4'>" + 
					    "<div class=\"card-body\">" + 
					        "<p class=\"card-text\">" + tweetContent + "</p>" + 
					        "<p class=\"card-text\">via " + tweetUser + "</p>" + 
					        "<a href=\"#\" class=\"btn btn-default\">View</a>" + 
					    "</div>" + 
					"</div>"

				);
			})
		}
	}

	$(function() {
		console.log('script is running!!');

		var query = getParameterByName('q');
		console.log(query);

		$.ajax({
			url: "/tweet/api/",
			data: {
				'q': query
			},
			method: "GET",
			success: (data) => {
				tweetList = data;
				parseTweets();
			},
			error: (err) => {
				console.error(err);
			}
		})
	})
</script>

{% endblock %}
