{% extends "base.html" %}

{% block content %}

	<div style="height: 60vh">
	{% for obj in object_list %}

		<!--Panel-->
		<div class="card border-dark w-75 mt-4">
		    <div class="card-body">
		        <h3 class="card-title">{{ obj.user }}</h3>
		        <p class="card-text">{{ obj.content }}</p>
		        <p class="card-text">{{ obj.timestamp|timesince }}</p>
		        <a href="{{ obj.get_absolute_url }}" class="btn btn-default">View</a>
		    </div>
		</div>
		<!--/.Panel-->

	{% empty %}

		{% if request.GET.q %}
			<h2 class="mt-5 text-left">No tweets found.</h2>
		{% else %}
			<h2 class="mt-5 text-left">No tweets yet.</h2>
		{% endif %}

	{% endfor %}
	</div>

{% endblock %}
